<!DOCTYPE html>
<html>
<head>
  <title>BenchBnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUOK_pkuMSN5SlU1CRoX-tLyxPT0GR6Ns&callback=initMap">
</script>

<%= yield %>

</body>
</html>
